{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>CareerHub - {{ title }}</title>
    {% else %}
    <title>CareerHub</title>
    {% endif %}

    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'job/css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-border border border-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CareerHub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center gap-3 md:d-flex md:align-items-center gap-2">
              <li class="nav-item">
                <a href="{% url 'job-home' %}"> 
                  <button class="btn btn-primary main-btn text-white"><i class="fas fa-laptop-house"></i> Home</button>
                </a>
              </li>
            {% if user.is_authenticated %}  
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary main-btn text-white"><i class="fas fa-sign-out-alt"></i> Logout</button>
                </form>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                  <img src="{{ user.applicantprofile.user_image.url }}" alt="{{ user.username }}" class="profile-img">
                </a>
              </li>
            {% endif %}  
            </ul>
          </div>
        </div>
      </nav>


    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="profileModelLabel">Profile Information</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="profile-details ">
                <div class="d-flex align-items-center gap-2">
                  <img src="{{ user.applicantprofile.user_image.url }}" alt="{{ user.username }}" class="profile-img">
                  <div class="profile-content">
                    <p class="m-0">{{ user.username }}</p>
                    <p class="m-0">{{ user.email }}</p>
                  </div>
                </div>
                <p class="bio mt-2"><span class="fw-bold">Summary:</span> {{ user.applicantprofile.user_bio }}</p>
                <p class="education mt-2"><span class="fw-bold">Education:</span> {{ user.applicantprofile.user_education }}</p>
                <p class="cgpa mt-2"><span class="fw-bold">CGPA:</span> {{ user.applicantprofile.user_cgpa }}</p>
                <p class="exp mt-2"><span class="fw-bold">Work-Experience:</span> {{ user.applicantprofile.work_experience }}</p>
                <p class="loc mt-2"><span class="fw-bold">Location:</span> {{ user.applicantprofile.user_location }}</p>
                {% if user.applicantprofile.user_resume %}
                <span class="fw-bold">Resume:</span>
                <a href="{{ user.applicantprofile.user_resume.url }}" download="{{ user.applicantprofile.user_resume.name }}">Download Resume</a>
                {% else %}
                <p>No resume available</p>
                {% endif %}
                {% if user.applicantprofile.user_skills %} 
                <p class="fw-bold mt-3">Skills:</p>
                <ul>
                  {% for skill in user.applicantprofile.get_user_skills %}
                      <li>{{ skill }}</li>
                  {% endfor %}
                </ul>
                {% else %}
                 <p class="mt-3"><span class="fw-bold">Skills:</span> No Skills</p>
                {% endif %}
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <a href="{% url 'profile' %}">
                <button type="button" class="btn btn-primary main-btn">Edit Profile</button>
              </a>
            </div>
          </div>
        </div>
    </div>  
    
    <div class="container">
      {% if messages %}
      <div class="alert-container d-flex justify-content-center align-items-center">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} message">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif  %}
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </div>
    {% bootstrap_javascript %}

    {% block scripts %} {% endblock %}

    <script>
      document.addEventListener('DOMContentLoaded', function(e){
        setTimeout(() => {
          let alertMessage = document.querySelectorAll('.message')
          alertMessage.forEach((item) => {
            item.style.opacity = 0;
          })
        },2000)
      })
    </script>

</body>
</html>