{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>CareerHub - {{ title }}</title>
    {% else %}
    <title>CareerHub</title>
    {% endif %}

    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'job/css/style.css' %}" />
</head>
<body>
    <nav class="navbar navbar-expand-lg nav-border border border-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">CareerHub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul
              class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row align-items-center gap-3 md:d-flex md:align-items-center gap-2">
              <li class="nav-item">
                <a href="{% url 'job-home' %}"> 
                  <button class="btn btn-primary main-btn text-white">Home</button>
                </a>
              </li>
            {% if user.is_authenticated %}  
              <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary main-btn text-white">Logout</button>
                </form>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#profileModal">
                  <img src="https://png.pngtree.com/png-clipart/20200224/original/pngtree-cartoon-color-simple-male-avatar-png-image_5230557.jpg" alt="{{ user.username }}" class="profile-img">
                </a>
              </li>
            {% endif %}  
            </ul>
          </div>
        </div>
      </nav>


    <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="profileModelLabel">Profile Information</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
    </div>  
    
    <div class="container">
      {% if messages %}
      <div class="alert-container d-flex justify-content-center align-items-center">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} message">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endif  %}
      <div class="content">
        {% block content %} {% endblock %}
      </div>
    </div>
    {% bootstrap_javascript %}

    <script>
      document.addEventListener('DOMContentLoaded', function(e){
        setTimeout(() => {
          let alertMessage = document.querySelectorAll('.message')
          alertMessage.forEach((item) => {
            item.style.opacity = 0;
          })
        },2000)
      })
    </script>

</body>
</html>