{% extends 'job/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<main class="profile-container">
    <div class="m-2 d-flex justify-content-center align-items-center mt-5">
        <form method="POST" class="bg-white p-5 rounded shadow mb-5">
            {% csrf_token %}
            {{ applicant_profile_form|crispy }}
            {{ customuser_form|crispy }}
            <button type="submit" class="btn btn-primary main-btn">Submit</button>
        </form>
    </div>
</main>
{% endblock %}